


    <% if (user) { %>
    <%= userId %>
    <form action="/logout" method="post">
      <button>Logout</button>
    </form>

    <%} else {%>
    <ul>
    <li><a href="http://localhost:8080/register">Register</a></li>
    <li><a href="http://localhost:8080/login">Login</a></li>
    </ul>

    <%}%>
