<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h1>urls show</h1>
  <h2><%= shortURL + " : " + longURL %></h2>
    <!--<a href = "www.jsjsjsjsjsjs.com">Link to nowhere</a>-->
    <form action="/urls" method="post">
      <label for="URL">Update URL:</label>
      <input id="URL" type="text" name="longURL" placeholder="http://" style="width: 300px" />
      <button>Update</button>

    </form>

</body>
</html>