<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h1>urls show</h1>
  <h2><%= shortURL + " : " + longURL %></h2>
    <a href = "www.jsjsjsjsjsjs.com">Link to nowhere</a>
</body>
</html>