<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h1 style="text-align:center; color:blue;
  font-size:45px;">TinyApp</h1>


  <ul>

    <% for (var key in urls) { %>
      <li><%= key + ':' + urls[key] %>
        <form method="POST" action="/urls/<%= key %>/delete">
      </li>
      <button>Delete</button>
      </form>
      <button href = "http://localhost:8080/urls/urls/<%= key %>/update"">Upload</button>

    <% } %>
  </ul>


    <a href = "www.jsjsjsjsjsjs.com">Link to nowhere</a>
</body>
</html>