<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <h1 style="text-align:center; color:blue;
  font-size:45px;">TinyApp</h1>


  <ul>


    <% if (!user) { %>
      <p style="font-weight:bold; text-align:center; font-size: 30px; ">Login to see your urls!!!!</p>

    <% } else { %>
      <% for (var key in urls) { %>
      <form method="POST" action="/urls/<%= key %>/delete">
        <li style="margin-bottom:5px; margin-top:10px;"><%= key + ': ' + urls[key] %></li>
        <button>Delete</button>
      </form>
      <a href="http://localhost:8080/urls/<%= key %>">Update</a>
      <a href="http://localhost:8080/urls/new">New</a>
      <% } %>
    <% } %>
  </ul>

</body>
</html>